.change-avatar {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  height: $innerheight;
  align-items: center;
  color: $dark-grey;

  &__text {
    margin-bottom: 20px;
  }

  &__container {
    text-align: center;
    width: 30%;
    height: max-content;
  }

  button {
    @include button-style;
  }
}
