.content {
  display: flex;
  font-size: $text-font-size;
  height: $innerheight;

  .chats {
    display: flex;
    flex-direction: column;
    width: 400px;
    border-right: 1px solid $dark-grey;
    position: relative;

    &__user {
      align-self: flex-end;
      margin: 20px 10px 10px 0;
      text-decoration: none;
      color: $dark-grey;
      cursor: pointer;
      right: 10px;
      top: 10px;
    }

    &__input {
      @include input-container(10px, 30px, 90%);

      align-self: center;

      input::placeholder {
        padding-left: 5px;
      }
    }

    &__button {
      position: absolute;
      right: 20;
      top: 10;
      width: 20%;

      .login-form-button {
        margin-top: 0;
      }
    }

    &__content {
      overflow: scroll;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .messages {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__display {
      height: 90%;
      display: flex;
      flex-direction: column;

      &-heading {
        display: flex;
        position: relative;
        justify-content: space-between;
        height: 75px;
        width: 100%;
        border-bottom: 1px solid $dark-grey;

        &-info {
          display: flex;
          justify-content: space-between;
          width: 90px;
          margin: 20px;

          img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
          }
        }

        &-dots {
          cursor: pointer;
          align-self: center;
          justify-self: end;
          margin-right: 20px;

          input[type="checkbox"] {
            position: absolute;
            cursor: pointer;
            opacity: 0;
            height: 30px;
            width: 30px;
            right: 16px;
          }

          &-dropdown {
            display: none;
            position: absolute;
            top: 50px;
            right: 1px;
            background-color: $general-white;
            border: 2px solid $deep-green;
            border-radius: 10px;
            width: 150px;

            ul {
              list-style: none;

              li {
                font-size: 13px;
                padding: 10px 0px;
              }
            }
          }
        }

        input[type="checkbox"]:checked ~ .messages__display-heading-dots-dropdown {
          display: block;
        }
      }

      &-date {
        color: $dark-grey;
        align-self: center;
        margin-top: 300px;
      }

      &-text {
        margin-left: 10px;
        width: 250px;
        padding: 10px;
        display: flex;

        span {
          align-self: flex-end;
          color: $dark-grey;
        }
      }

      &-content{
        height:100%;
        overflow: scroll;
      }
    }

    &__form {
      position: relative;

      &-input {
        margin-left: 90px;
      }

      &-button {
        position: absolute;
        right: 40;
        top: 10;
        width: 10%;

        .login-form-button {
          margin-top: 0;
        }
      }
    }

    &__input {
      position: relative;
      align-self: center;

      @include input-container(10px, 30px, 80%);

      .error-message {
        font-size: 10px;
        position: absolute;
        color: $error-color;
        top: 30;
      }
    }

    &__empty {
      height: 100%;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
