.content {
  display: flex;
  font-size: $text-font-size;
  height: $innerheight;

  .chats {
    display: flex;
    flex-direction: column;
    width: 400px;
    border-right: 1px solid $dark-grey;

    &__user {
      align-self: flex-end;
      margin: 20px 10px 10px 0px;
      text-decoration: none;
      color: $dark-grey;

      cursor: pointer;
      right: 10px;
      top: 10px;
    }

    &__input {
      @include inputContainer(10px, 30px, 90%);
      align-self: center;

      input::placeholder {
        padding-left: 5px;
      }
    }

    &__content {
      overflow: scroll;

      a{
        text-decoration:none;
        color: inherit;
      }
    }

    &__input {
      @include inputContainer(20px, 60px, 90%);
      align-self: center;
    }
  }
  .messages {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__display {
      height: 90%;
      display: flex;
      flex-direction: column;

      &-heading {
        display: flex;
        justify-content: space-between;
        height: 75px;
        width: 100%;
        border-bottom: 1px solid $dark-grey;

        &-info {
          display: flex;
          justify-content: space-between;
          width: 90px;
          margin: 20px;
          img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
          }
        }

        &-dots {
          cursor: pointer;
          align-self: center;
          justify-self: end;
          margin-right: 20px;
        }
      }

      &-date {
        color: $dark-grey;
        align-self: center;
        margin-top: 300px;
      }

      &-text {
        margin-left: 10px;
        width: 250px;
        padding: 10px;
        display: flex;

        span {
          align-self: flex-end;
          color: $dark-grey;
        }
      }
    }

    &__input {
      position: relative;
      align-self: center;
      @include inputContainer(10px, 30px, 90%);

      .errorMessage {
        font-size: 10px;
        position: absolute;
        color: $error-color;
        top: 30;
      }
    }

    &__empty {
      height:100%;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
