.login {
  @include container(10px, 80%, 30%);
  @include container-content;

  &-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: $text-font-size;
    width: 90%;

    &-button {
      @include button-style;

      color: $general-white;
      font-size: $text-font-size;

      a {
        text-decoration: none;
      }
    }
  }
}
