.login {
  @include container(10px, 80%, 30%);
  @include containerContent();

  &__form {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
    font-size: $text-font-size;
    width: 90%;

    &-button {
      @include buttonStyle();
      a {
        text-decoration: none;
        font-size: $text-font-size;
        color: $general-white;
      }
    }
  }
}
