.registration {
  overflow-y: scroll;

  @include container(10px, 80%, 30%);
  @include container-content;

  font-size: $text-font-size;

  &__form {
    margin-top: 2px;
    width: 90%;

    &-button {
      @include button-style;
    }
  }

  a {
    margin-bottom: 20px;
  }
}
