.edit-link {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: $dark-grey;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    outline: 1px solid $dark-grey;
  }
}
