{{!< layout}}



<div class="change-avatar">

  <div class="change-avatar__container">
  <h2 class="change-avatar__text">Upload a new picture</h2>

  <a>Select from your computer</a>

  <button>Update picture</button>
  <br></br>
  <a href="../pages/edit-profile.hbs">Go back</a>
  </div>

</div>

