{{!< layout}}

<div class="change-avatar">

  <div class="change-avatar__container">
  <h2 class="change-avatar__text">Upload a new picture</h2>

  <p>Select a file from your device</p>

  <input type="file" name="file"/>

  <button>Update picture</button>
  <br></br>
  <a href="../pages/edit-profile.hbs">Go back</a>
  </div>

</div>

