{{!< index}}

<div class='profile-container'>
  {{> 'exit-button/exit-button'}}
  <div class='profile-container__content'>
    <div class='profile-container__content-box'>

     {{> 'user-information/user-information'}}

    

      <div class="profile-container__content-box-actions">

        <button>Save Changes</button>

      </div>

     </div>

  </div>