{{!< index}}

<div class='profile-container'>
  {{> 'exit-button/exit-button'}}
  <div class='profile-container__content'>
    <div class='profile-container__content-box'>

     {{> 'user-information/user-information'}}

    

      <div class='profile-container__content-box-actions'>

        <a href='../pages/edit-profile.hbs'>Edit profile</a>

        <a>Change password</a>

        <a href='../pages/login.hbs'>Logout</a>

      </div>

     </div>

  </div>

</div>