{{!< layout}}

{{#> "user-information/user-information" url="../pages/chats.hbs" name="shrimpnick" }} 

<a class="edit-link" href="../pages/edit-profile.hbs">Edit profile</a>

<a class="edit-link" href="../pages/change-password.hbs">Change password</a>

<a class="edit-link" href="../pages/index.hbs">Logout</a>

{{/"user-information/user-information"}}
