{{!< index}}
 
     {{#> 'user-information/user-information' url='../pages/chats.hbs'}} 
  
        <a class= 'edit-link' href='../pages/edit-profile.hbs'>Edit profile</a>

        <a class= 'edit-link'>Change password</a>

        <a class= 'edit-link' href='../pages/login.hbs'>Logout</a>


      {{/'user-information/user-information'}}