<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.scss" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:
      ital,wght@0,300;0,400;0,600;1,300;1,500;1,600&display=swap"
      rel="stylesheet"
    />
    <title>Messenger App</title>
  </head>
  <body>
    <a href="../pages/index.hbs"> login</a>
    <span>|</span>
    <a href="../pages/registration.hbs">registration</a>
    <span>|</span>
    <a href="../pages/user-profile.hbs"> profile</a>
    <span>|</span>
    <a href="../pages/edit-profile.hbs"> edit profile</a>
    <span>|</span>
    <a href="../pages/change-password.hbs"> change password</a>
    <span>|</span>
    <a href="../pages/chats.hbs"> chats</a>
    <span>|</span>
    <a href="../pages/error404.hbs"> 404</a>
    <span>|</span>
    <a href="../pages/error500.hbs"> 500</a>

    <div class="layout" id="root">
      <div class="layout__underline"></div>

      {{{body}}}

    </div>
    <script src="../index.js" type="module"></script>

  </body>
</html>