$light-grey: #d9d9d9;
$dark-grey: #727a7a;
$background-color: #fafafa;
$deep-green: #008585;
$light-green: #74a892;
$input-focus: #94bf73;
$hover-color: #d0d6d6;
$general-white: #ffff;
$error-color: red;
$radius-value: 10px;
$font-family: sans-serif;
$layout-underline-height: 20px;
$text-font-size: 16px;
$chat-demacator: 1px solid $light-green;
$innerheight: calc(100% - $layout-underline-height);
$correct-overflow: 10px;
